---
import { date, string } from "astro:schema"
import ExperienceItem from "./ExperienceItem.astro"
import type { ACTION_ERROR_CODES } from "astro:actions"

import LanguageSelector from "../components/LanguageSelector.astro";

// Importamos la utilidad para traducciones
import { getContent } from "../utils/translations";

// Obtenemos el idioma actual usando la función nativa de Astro
const currentLocale = Astro.currentLocale || 'es';
const content = getContent(currentLocale);

const EXPERIENCE = [
    {
        date: content.experience1.date,
        title: content.experience1.position + ' | ' + content.experience1.company, 
        description: content.experience1.description1,
        link: '#',

    },
    {
        date: content.experience2.date,
        title: content.experience2.position + ' | ' + content.experience1.company, 
        description: content.experience2.description1,
        link: '#',

    },
    {
        date: content.experience3.date,
        title: content.experience3.position + ' | ' + content.experience1.company, 
        description: content.experience3.description1,
        link: '#',

    }
]  
---
<ol class="relative mt-16"> 
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }                 

</ol>

