<header class=" container flex justify-center align-center py-5 w-full mx-auto mb-44">

    <nav class=" flex flex-row gap-x-10 list-none opacity-90">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Contact</a></li>
    </nav>  
</header>
